@use './partials/utilities' as *;

@use "./partials/variables" as *;

@use "@fortawesome/fontawesome-free/css/all.min.css";

@use "./partials/bootstrap" ;

div ul {
    list-style: none;  
    display: flex;
    padding-left: 0;
    a {
        color: black;
        font-weight: 700;
        text-decoration: none;
        padding: .05rem 1rem;  
        display: block;
        transition: font-weight .3s;
        padding-left: 0;

        &:hover{
            color: $color-primary;
        }
    }
}

img {
    display: block;
    width: 100%;
}